<h1>About Page</h1>

<a href="@Url.Action("index","home")">Index</a>
<a href="@Url.Action("index","about")">About</a>
<a href="@Url.Action("index","contact")">Contact</a>
<a href="@Url.Action("index","gallery")">Gallery</a>